/* MAIN SECTION STYLES */
#main {
    grid-template-columns: 1fr 200px;
    grid-template-rows: 1fr 1fr;
}
#main article {
    grid-column: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3%;
    margin-bottom: 50px;
    margin-top: 50px;
}
#main article:last-of-type {
    flex-direction: row-reverse;
}
#main article .cityInfo, #main article figure {
    width: 45%;
    min-width: 300px;
    padding: 0;
    margin: 0;
}
#main article .cityInfo p {
    font-size: 1rem;
}
#main article .cityInfo ul {
    font-size: 1rem;
    text-align: left;
    line-height: 2;
}

#main article figure img {
    width: 100%;
    border-radius: 16px;
}

/* ASIDE STYLES */
aside {
    grid-column: 2;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1024px) {
    #main {
        grid-template-columns: 100%;
    }
    #main article, #main article:last-of-type {
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 0;
        padding: 10px 0;
    }
    #main article .cityInfo, #main article figure {
        width: 100%;
    }
    aside {
        grid-column: 1;
    }
}